# Archivos de entorno y dependencias
*.pyc
*.pyo
*.pyd
__pycache__/
bin/
include/
lib/
pyvenv.cfg
lib64/


# Archivos de configuración de entorno virtual
venv/
env/
*.egg-info/
.eggs/
.Python



# Archivos de IDEs y editores
.vscode/
.idea/
*.swp

# Archivos de log y cachés
*.log
*.pot
*.mo
*.cache
