{% extends "base.html" %}

{% block titulo %}Firmar{% endblock %}


{% block contenido %}
<form action="/firmar/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
  		<label for="archivo" class="form-label">Envía tu archivo</label>
  		<input class="form-control" type="file" id="archivo" name="archivo">
	</div>
	<div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<div class="d-flex justify-content-center mt-4">
    <form action="/descargar_llave_publica/" method="POST" class="mx-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Descarga tu llave pública</button>
    </form>

    <form action="/descargar_llave_privada/" method="POST" class="mx-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Descarga tu llave privada</button>
    </form>
</div>

{% endblock %}
