{% extends "base.html" %}

{% block titulo %}Firmar{% endblock %}


{% block contenido %}
{% if errores %}
<div id="errores" class="alert bg-secondary text-dark alert-dismissible text-white">
    
    <strong>Errores:</strong>
    <ul id="lista-errores">
	{% for error in errores %}
	<li>{{ error }}</li>
	{% endfor %}
    </ul>
</div>
{% endif %}

{% if success %}
<div class="alert alert-success">
    {% for alert in success %}
    <strong>Verificado!</strong> {{ alert }}
    {% endfor %}
</div>
{% endif %}

<form action="/verificar/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
  	<label for="archivo" class="form-label">Envía tu archivo</label>
  	<input class="form-control" type="file" id="archivo" name="archivo">
    </div>
    <div>
	<label for="firma" class="form-label">Envía tu arcivo de firma</label>
  	<input class="form-control" type="file" id="firma" name="firma">
    </div>
    <div class="mb-3">
	<label for="usuario" class="form-label">Ingresa el usuario</label>
	<input class="form-control" type="text" id="usuario" name="usuario" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
